@using Microsoft.Extensions.Configuration
@using System.Web
@model TriageToolOptionViewModel

<form method="get" novalidate="novalidate" action="/triagetool" id="TriageToolFilters">
    <div class="triage-body">
        <input type="hidden" name="triage-level-one" id="selectedLevelOne" value="@Model.SelectedLevelOne" />
        <input type="hidden" name="triage-level-two" id="selectedLevelTwo" value="@Model.SelectedLevelTwo" />
        <div class="dfc-app-triage-search-header-panel">
            <div class="dfc-app-triage-filter-header">
                <h2>Select the advice you want to see</h2>
            </div>
        </div>
        <div class="dfc-app-triage-search-panel">
            <div class="dfc-app-triage-filter-sub-header">
                <span>Showing all</span>
            </div>

            <div class="dfc-app-triage-filter-advice-group-container govuk-grid-row">
                @if (Model.AllFilterAdviceGroups != null)
                {
                    @foreach (var fac in Model.AllFilterAdviceGroups)
                    {
                        <div class="govuk-grid-column-one-third dfc-app-triage-filter-item">
                            <div class="govuk-checkboxes--small">
                                <div class="govuk-checkboxes__item">
                                    @if ((Model.SelectedFilters != null && Model.SelectedFilters.Contains(fac.ContentItemId)))
                                    {
                                        <input typeof="checkbox" checked class="govuk-checkboxes__input" name="filterAdviceGroupOptions" id="@fac.ContentItemId" type="checkbox" value="@fac.ContentItemId" />

                                    }
                                    else
                                    {
                                        <input typeof="checkbox" class="govuk-checkboxes__input" name="filterAdviceGroupOptions" id="@fac.ContentItemId" type="checkbox" value="@fac.ContentItemId" />

                                    }
                                    <label class="govuk-label govuk-checkboxes__label" for="@fac.ContentItemId">
                                        @fac.Title
                                    </label>
                                </div>
                            </div>
                        </div>

                    }
                }
            </div>
            <div>
                <button type="submit" class="govuk-button dfc-app-triage-btn ncs-button__primary govuk-button--start jscript-disabled-btn" id="applyFiltersJs" name="FilterAction" value="ApplyFilters">Apply Filters</button>
                <button type="submit" class="govuk-button ncs-button__secondary triage-tool-clear-button jscript-disabled-btn" id="clearFiltersjs" name="FilterAction" value="ClearFilters">Clear Filters</button>
                <button type="button" class="govuk-button dfc-app-triage-btn ncs-button__primary govuk-button--start jscript-enabled-btn" id="applyFilters">Apply Filters</button>
                <button type="button" class="govuk-button ncs-button__secondary triage-tool-clear-button jscript-enabled-btn" id="clearFilters">Clear Filters</button>
            </div>

        </div>
        <div id="triageResultPanel">
            @(await Html.PartialAsync("TriageToolPartialViews/TriageResult", Model))
        </div>
        <div class="speak-to-adviser-container">
            @Html.Raw(Model.SharedContent)
        </div>
    </div>
</form>