@model TriageToolFilterViewModel

<div class="govuk-checkboxes__item">
    @* <input class="govuk-checkboxes__input" id="@Model.Title" type="checkbox" value="@Model.Url" name="@nameof(TriageToolOptionViewModel.Filters)" checked="@Model.Selected">
    <label class="govuk-label govuk-checkboxes__label" for="@Model.Title">
        @Model.Title
    </label> *@
</div>