@model TriageToolOptionViewModel


 <div class="dfc-app-triage-page-number-panel">

    <span>Showing @Model.Pages.Count() career resources </span>
</div>
@foreach (var filterAdviceGroup in Model.FilterAdviceGroups)
{
    var facImage = Model.TriageFilterAdviceGroupImage?.SingleOrDefault(x => x.FilterAdviceGroup?.ContentItems != null &&
                x.FilterAdviceGroup.ContentItems.Any(x => x.ContentItemId == filterAdviceGroup.ContentItemId) &&
                x.TriageLevelOne?.ContentItems != null && x.TriageLevelOne.ContentItems.Any(z => z.ContentItemId == Model.LevelOneContentItemId)
            );
    <div class="dfc-app-filter-advice-group-result-container">
        <span class="heading">
            @filterAdviceGroup.Title
        </span>
        
        <div class="product-tile-container">

            @if (facImage?.ImageHtml != null && !string.IsNullOrEmpty(facImage.ImageHtml.Html))
            {
                @Html.Raw(facImage.ImageHtml.Html);
            }
                
            @foreach (var resultPage in Model.Pages.
           Where(x => x.FilterAdviceGroup?.ContentItems != null && x.FilterAdviceGroup.ContentItems.Any(x => x.ContentItemId == filterAdviceGroup.ContentItemId)).OrderBy(x => x.TriageOrdinal))
            {
                Console.WriteLine(resultPage.ContentItemId);
                var tile = Model.TriageResultTiles?.SingleOrDefault(x => x.TriageResult?.ContentItems != null &&
                x.TriageResult.ContentItems.Any(y => y.ResultContentItemId == resultPage.ContentItemId)
                && x.TriageLevelOne?.ContentItems != null && x.TriageLevelOne.ContentItems.Any(z => z.ContentItemId == Model.LevelOneContentItemId));
                if (tile != null && tile.TriageTileHtml != null && !string.IsNullOrEmpty(tile.TriageTileHtml.Html))
                    @Html.Raw(tile.TriageTileHtml.Html);
                @*   <div class="article-tile">
        <div class="tile-header">
        <span>  @resultPage.PageLocation.FullUrl </span>
        </div>
        <div class="tile-decription">
        @resultPage.PageLocation.FullUrl
        </div>
        </div> *@
                @*  <div class="app-view-tile">
        <div class="tile-header">
        <span class="header-text"> Explore Careers </span>
        <img src="http://127.0.0.1:8080/assets/dist/images/compass.png" class="header-image" />
        </div>
        <div class="tile-description">
        How to understand the skills you already have and prepare to find a new job.
        </div>
        </div>

        <div class="app-view-tile">
        <div class="tile-header">
        <span class="header-text"> Explore Careers </span>
        <img src="http://127.0.0.1:8080/assets/dist/images/compass.png" class="header-image" />
        </div>
        <div class="tile-description">
        How to understand the skills you already have and prepare to find a new job.
        </div>
        </div>
        <div class="app-view-tile">
        <div class="tile-header">
        <span class="header-text"> Explore Careers </span>
        <img src="http://127.0.0.1:8080/assets/dist/images/compass.png" class="header-image" />
        </div>
        <div class="tile-description">
        How to understand the skills you already have and prepare to find a new job.
        </div>
        </div> *@

            }
        </div>
        @*  <div style="width: 300px;height: 190px;display:inline-block;border:solid 1px;">

    <img style="width: 300px;height: 190px;"src="http://127.0.0.1:8080/assets/dist/images/FilterGroupTileImage.jpg" alt="not loaded" />
    </div> *@

    </div>
}
